<section class="left" [class.dual_grid]="col_toggle">
  <ul class="category_toggle">
    <li (click)="select_task_category(1)">All</li>
    <li (click)="select_task_category(2)">Pending</li>
    <li>Overdue</li>
    <li (click)="select_task_category(4)">Completed</li>
  </ul>
  <ul class="tasks">
    <li *ngFor="let task of selectTaskCategory" (click)="expandTask(task)">
      <p>{{task.title}}</p>
    </li>
  </ul>
</section>
<section class="right" [class.dual_grid]="col_toggle">
  <i class="fas fa-times" (click)="expandTask(task)"></i>
  <span>{{selectedTask != undefined ? selectedTask.title : ""}}</span>
  <span>{{selectedTask != undefined ? selectedTask.author : ""}}</span>
  <span>{{selectedTask != undefined ? selectedTask.department : ""}}</span>
  <span>{{selectedTask != undefined ? selectedTask.dateLog : ""}}</span>
</section>