<i class="fas fa-comments-alt toggle fa-fw" [class.fa-compress-alt]="expanded" (click)="expandChat()"></i>
<div class="chat_widget" [class.expanded]="expanded">
  <div *ngIf="expanded">
    <p>
      <i class="fas fa-comment-alt-lines"></i>
      Chat
    </p>

    <ul>
      <li *ngFor="let user of users">
        <span class="img_holder" [class.online]="user.online"><img src={{user.img}} alt={{user.name}}></span>
        <span>{{user.name}}</span>
        <span>Lorem ipsum dolo...</span>
      </li>
    </ul>
  </div>
</div>
<section class="sidebar">
  <ul>
    <li>Logo</li>
    <li *ngFor="let i of menu" routerLink="/{{i.url}}" [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active">
      <span class="notification" *ngIf="i.notification > 0">{{i.notification}}</span>
      <i class="fal {{i.icon}}"></i>
    </li>
  </ul>
</section>
<section class="content">
  <router-outlet></router-outlet>
</section>