<section class="form_toggle" [class.left]="toggle == 'login'" [class.right]="toggle == 'register'">
   <ul class="btn_container">
      <li class="login">
         <img src="../../../assets/imgs/signup_right.svg" alt="taeki sign up">
         <p>Already registered?</p>
         <button class="resolve" (click)="toggleViews('login')">
            <h1>Login</h1>
         </button>
      </li>
      <li class="register">
         <img src="../../../assets/imgs/login_left.svg" alt="taeki sign up">
         <h1>New?</h1>
         <p>sign up for a free account.</p>
         <button class="resolve" (click)="toggleViews('register')">
            <h1>Sign up</h1>
         </button>
      </li>
   </ul>
</section>

<section class="form_container" [class.login]="toggle == 'login'" [class.register]="toggle == 'register'">
   <img class="login_right" src="../../../assets/imgs/login_right.svg">
   <img class="signup_left" src="../../../assets/imgs/signup_left.svg">
   <ul class="form login">
      <li>
         <h1>Welcome Back</h1>
      </li>
      <li class="input_container" [class.error]="err.email.length != 0">
         <span>{{err.email}}</span>
         <label for="login_email" class="label">Email</label>
         <input id="login_email" [(ngModel)]="user.email" type="text">
      </li>
      <li class="input_container" [class.error]="err.password.length != 0">
         <span>{{err.password}}</span>
         <label for="login_password" class="label">Password</label>
         <input id="login_password" (keyup.enter)="loginUser()" [(ngModel)]="user.password" type="text">
      </li>
      <li class="resolve" (click)="loginUser()">
         <h1>Login</h1>
      </li>
   </ul>
   <ul class="form register">
      <li>
         <h1>Welcome to Taeki</h1>
      </li>
      <li class="input_container" [class.error]="err.name.length != 0">
         <span>{{err.name}}</span>
         <label for="regi_name" class="label">name</label>
         <input [(ngModel)]="user.name" id="regi_name" type="text">
      </li>
      <li class="input_container" [class.error]="err.email.length != 0">
         <span>{{err.email}}</span>
         <label for="regi_email" class="label">email</label>
         <input [(ngModel)]="user.email" id="regi_email" type="text">
      </li>
      <li class="input_container" [class.error]="err.password.length != 0">
         <span>{{err.password}}</span>
         <label for="regi_password" class="label">password</label>
         <input [(ngModel)]="user.password" id="regi_password" type="text" (keyup.enter)="createUser()">
      </li>
      <li class="checkbox_container">
         <input id="terms_condition" type="text" [(ngModel)]="terms_condition" type="checkbox"
            [checked]="terms_condition">
         <label for="terms_condition" class="label">I agree to the
            <span (click)="showTerms($event)">terms and condition</span>
         </label>
      </li>
      <li class="resolve" [class.disabled]="!terms_condition" (click)="createUser()">
         <h1>Login</h1>
      </li>
   </ul>
</section>

<div class="overlay" [class.active]="term_modal" (click)="term_modal = false"></div>

<div class="modal" [class.show]="term_modal">
   <p>Terms and condition go here</p>
</div>