<section class="left">
  <h1>Settings</h1>
  <ul>
    <li class="title">
      <h2><i class="fal fa-user"></i> Account</h2>
    </li>
    <li>Edit profile <i class="fal fa-chevron-right"></i></li>
    <li>Change password <i class="fal fa-chevron-right"></i></li>
  </ul>
  <ul>
    <li class="title">
      <h2><i class="fal fa-bell"></i> Notifications</h2>
    </li>
    <li>Notifications <i class="fal fa-chevron-right"></i></li>
    <li>Browser notifications <i class="fal fa-chevron-right"></i></li>
  </ul>
  <ul>
    <li class="title">
      <h2><i class="fal fa-plus-circle"></i> More</h2>
    </li>
    <li>Language <i class="fal fa-chevron-right"></i></li>
    <li>Country <i class="fal fa-chevron-right"></i></li>
  </ul>

  <p class="logout"><i class="fad fa-sign-out-alt"></i> Logout</p>
</section>
<section class="right">
  <h1>Edit Profile</h1>
  <ul>
    <li>
      <!-- <span class="img_holder">
        <img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?h=350&auto=compress&cs=tinysrgb">
        <span class="img_whiteout"></span>
        <span class="new_img"><i class="fas fa-camera-alt"></i></span>
      </span> -->
      <img-holder
        [src]="'https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?h=350&auto=compress&cs=tinysrgb'">
      </img-holder>
      <span class="img_whiteout"></span>
      <span class="new_img"><i class="fas fa-camera-alt"></i></span>
    </li>
    <input-text [label]="'Full Name'" [model]="'Jane Smith'"></input-text>
    <input-text [label]="'Email'" [model]="'jsmith@email.com'" [type]="'email'"></input-text>
    <input-text [label]="'Password'" [model]="'password'" [type]="'password'" [disabled]="true"></input-text>
  </ul>
</section>