@import "reset.scss";

$font: "futura pt";

$sidebar: #222947;
$darkOne: #202237;
$darkTwo: #191f3f;
$purple: #7a4bb7;
$block_bg: #2d3049;
$block_fg: #3e4360;
$blue: #667cff;
$blueTwo: #1fc5ff;
$green: #1dff88;
$red: #ff2261;

app-root {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
  font-family: $font;
  color: #ccc;
}

h2 {
  width: 93%;
  height: 1rem;
  font-size: 1rem;
  font-weight: 700;
  // overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0.7rem;
  text-overflow: ellipsis;
}

.progress_bar {
  background: $block_bg;
  width: 100%;
  display: flex;
  height: 9px;
  border-radius: 7px;
  overflow: hidden;
  align-self: center;

  span.progress {
    background: $green;
    width: 80%;
    display: block;
    border-radius: 6px;
  }
}

.chat_widget {
  z-index: 2;
  width: 3rem;
  height: 3rem;
  position: absolute;
  background: #1d203a;
  padding: 1rem;
  border-radius: 6px;
  color: white;
  bottom: 0.5rem;
  right: 0.5rem;
  transition: background 0.4s, height 0.4s, width 0.4s;

  // &:hover,
  // &:active {
  //   background: darken($purple, 20%);
  // }

  .toggle {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    background: $purple;
    z-index: 2;
    padding: 1rem;
    border-radius: 6px;
  }

  &.expanded {
    width: 21rem;
    height: 80%;
  }

  p {
    font-weight: bold;
  }

  ul {
    margin-top: 1.4rem;
    overflow: scroll;
    height: 90%;
    position: absolute;
    width: 93%;

    li {
      justify-content: space-between;
      margin-bottom: 1rem;
      display: grid;
      grid-template-columns: auto 100px auto;

      span {
        align-self: center;
      }
    }
  }
}

span.img_holder {
  width: 57px;
  height: 57px;
  border-radius: 7rem;
  overflow: hidden;
  position: relative;
  border: 2px solid gray;

  &.online {
    border: 2px solid $green;
  }

  img {
    width: 5rem;
    position: absolute;
    left: -10px;
    top: 0;
  }
}

.sidebar {
  color: #ccc;
  padding: 0.5rem;
  background: $sidebar;

  ul {
    list-style-type: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;

    li {
      border-radius: 5px;
      transition: background 0.4s;
      cursor: pointer;

      &.active,
      &:hover {
        background: $purple;
        color: white;
      }

      &:active {
        background: darken($purple, 20%);
        color: white;
      }

      i {
        pointer-events: none;
        padding: 1rem;
      }

      span.notification {
        cursor: pointer;
        position: absolute;
        background: $red;
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 56px;
        box-shadow: -2px 5px 4px #38000042;
      }
    }
  }
}

.content {
  background: linear-gradient($darkOne, $darkTwo);

  admin {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    grid-gap: 1rem;
    padding: 1rem;

    section {
      background: $block_bg;
      border-radius: 7px;
      box-shadow: 0px 0px 5px 2px #00000030;
      transition: border 0.3s;
      border: 1px solid transparent;
      padding: 1rem;

      &:hover {
        border: 1px solid $blue;
      }

      h1.title {
        color: white;
        font-size: 1.3rem;

        i {
          margin-right: 5px;
        }
      }

      &.three {
        overflow: scroll;
        width: 100%;

        h1 {
          position: absolute;
        }
      }
    }
  }
}

ul.department_blocks {
  display: flex;
  height: 14rem;
  margin-top: 2.6rem;
  width: fit-content;
  overflow: scroll;

  li.department {
    color: #ccc;
    width: 230px;
    padding: 1rem;
    display: block;
    margin-right: 2rem;
    border-radius: 4px;
    background: $block_fg;
    justify-content: space-between;

    span {
      display: flex;
      justify-content: space-between;
      align-self: center;

      &.department_title {
        font-weight: bold;
      }

      &.img_holder {
        margin-right: 1rem;
      }
    }

    ul {
      margin-top: 1rem;
      overflow: scroll;
      height: 180px;

      li.department_user {
        margin-bottom: 1rem;
        display: flex;
      }
    }
  }
}

.notifications {
  margin-top: 1.4rem;
  overflow: scroll;
  height: 37%;
  position: absolute;

  li {
    background: $block_fg;
    color: #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 22px 1fr 81px auto auto;
    grid-gap: 1rem;

    i {
      cursor: pointer;
    }
  }
  .complete {
    color: $green;
  }
  .pending {
    color: $blueTwo;
  }
  .deleted {
    color: $red;
  }
}

section.two {
  display: grid;
  grid-gap: 0 2rem;
  grid-template-columns: 1fr;

  h1 {
    position: absolute;
  }

  .tasks {
    position: absolute;
    overflow: scroll;
    margin-top: 2rem;
    color: #ccc;
    height: 37%;

    li {
      margin-bottom: 1rem;
    }

    span {
      display: grid;
      align-items: center;
      grid-template-columns: 114px min-content 90px min-content 74px;
      font-size: 13px;
      margin: 0.5rem 0;
      grid-gap: 1rem;
      opacity: 0.8;
    }

    .fa-circle {
      font-size: 7px;
    }
  }
}

inbox,
settings,
projects,
departments {
  display: grid;
  color: #ccc;
  padding: 1rem;
  height: 100%;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;

  section {
    background: $block_bg;
    border-radius: 5px;
    padding: 1rem;
    position: relative;

    h1 {
      font-size: 1.4rem;
      font-weight: bold;
      margin-bottom: 1.4rem;
    }
  }
}

settings {
  section {
    &.left {
      li {
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;

        &.title {
          border-bottom: 1px solid #cccccc78;
          margin: 1.5rem 0;
          padding-bottom: 0.5rem;
          h2 {
            font-weight: bold;
            i {
              margin-right: 0.5rem;
            }
          }
        }
      }

      .fal.fa-chevron-right {
        font-size: 10px;
        align-self: center;
      }
    }

    &.right {
      ul {
        width: 42%;
        margin: 0 auto;

        span.img_holder {
          display: block;
          margin: 0 auto;
          width: 120px;
          height: 120px;
          background: #d2bc4b;
          margin-bottom: 1.5rem;
          border: 1px solid $blue;
          box-shadow: 0px 9px 6px 0px #00000052;

          span.img_whiteout {
            display: block;
            height: 100%;
            background: white;
            position: absolute;
            width: 100%;
            opacity: 0;
            transition: opacity 0.4s;
          }

          span.new_img {
            position: absolute;
            left: calc(100%);
            top: 31%;
            z-index: 1;
            background: $block_fg;
            padding: 1rem;
            border-radius: 44px;
            transition: left 0.4s ease-in-out;
          }

          img {
            width: 9rem;
            position: absolute;
            left: -12px;
            top: 10px;
          }

          &:hover {
            .img_whiteout {
              opacity: 0.4;
            }
            .new_img {
              cursor: pointer;
              left: calc(100% - 70%);

              i {
                pointer-events: none;
                transition: transform 0.3s;
              }

              &:active i {
                transform: scale(0.9);
              }
            }
          }
        }
      }
    }
  }
}

.input_container {
  position: relative;
  margin-bottom: 2rem;

  span.label {
    background: $block_bg;
    position: absolute;
    top: -0.5rem;
    left: 1rem;
    width: 90px;
    text-align: center;
  }

  input {
    padding: 0.7rem 1rem;
    border-radius: 7px;
    border: 1px solid #ccc;
    background: transparent;
    color: white;
    width: 100%;
    font-family: $font;
    font-size: 1rem;
  }
}

.logout {
  position: absolute;
  bottom: 3rem;
  left: 40%;
  cursor: pointer;
  padding: 1rem;
  border-radius: 45px;
  transition: box-shadow 0.4s;

  &:hover {
    box-shadow: 0px 5px 11px #151a3166;
  }

  &:active {
    box-shadow: 0px 5px 11px #151a3100;
  }
}

inbox {
  span.img_holder {
    display: block;
    img {
      left: -13px;
      top: -7px;
    }
  }
  .chat {
    li {
      display: grid;
      grid-gap: 0 1rem;
      grid-template-columns: auto 1fr;

      .chat_layout {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        div {
          display: flex;
          justify-content: space-between;
          position: relative;
        }
      }

      .btm span {
        &.short_msg {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 60%;
          height: 1rem;
        }

        &.notif {
          cursor: pointer;
          position: absolute;
          right: 0;
          bottom: -5px;
          background: $red;
          border-radius: 30px;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          box-shadow: 0px 3px 7px #00000061;
        }
      }
    }
  }

  .top span:nth-last-child(1),
  .btm {
    opacity: 0.8;
    font-size: 0.9rem;
  }

  .right {
    display: grid;
    grid-template-rows: 1fr 57px;

    ul.chat_history {
      height: 80%;
      li {
        margin-bottom: 1rem;
        display: flex;

        &.user {
          flex-direction: row-reverse;

          .img_time {
            display: none;
          }

          span.msg_content {
            margin: 0;
            background: $blue;
          }
        }

        .img_time {
          position: relative;
          span:nth-last-child(1) {
            font-size: 0.8rem;
            position: absolute;
            top: 60px;
            width: 110%;
          }

          span.img_holder {
            width: 53px;
            height: 53px;
            border: none;

            img {
              width: 4rem;
              left: -5px;
              top: 0px;
            }
          }
        }

        span.msg_content {
          color: white;
          display: flex;
          align-self: center;
          margin-left: 1rem;
          padding: 0.7rem 1rem;
          background: $block_fg;
          border-radius: 56px;
        }
      }
    }

    .chat_box {
      position: relative;

      i {
        position: absolute;

        &.fa-link {
          bottom: 1.4rem;
          right: 4.5rem;
        }

        &.fa-paper-plane {
          right: 1rem;
          background: $blue;
          width: 30px;
          height: 30px;
          border-radius: 45px;
          display: flex;
          bottom: 1rem;
          justify-content: center;
          align-items: center;
          box-shadow: 0px 9px 10px 0px #28316369;
        }
      }
      .text_label {
        position: absolute;
        left: 21px;
        top: -9px;
        background: $block_bg;
        width: 141px;
        text-align: center;
      }

      textarea {
        width: 100%;
        height: 100%;
        background: transparent;
        border: 1px solid #ccc;
        border-radius: 7px;
        padding: 1rem;
        color: #ccc;
        font-size: 1rem;
        font-family: $font;
      }
    }
  }
}

.search_messages {
  color: #ccc;
  position: relative;
  padding-bottom: 1rem;
  border-bottom: 1px solid #cccccc54;

  input {
    background: transparent;
    border: none;
    width: 100%;
    color: #ccc;
    padding-left: 2rem;
    font-size: 1rem;
    font-family: $font;

    &::placeholder {
      color: #ccc;
    }
  }

  i {
    top: 5px;
    position: absolute;
  }
}

.add.fal.fa-plus {
  background: $blue;
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
  position: absolute;
  left: 44%;
  bottom: 1rem;
}

.container {
  margin: 1.5rem 0rem 0 0rem;
  height: 478px;
  overflow: scroll;

  li {
    box-shadow: 0px 5px 8px #00000024;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    background: $block_fg;

    &.selected {
      border-color: $blue;
    }

    &,
    * {
      cursor: pointer;
    }

    .img_holder {
      display: flex;
    }
  }
}

projects {
  ul.projects {
    li {
      span {
        font-size: 0.9rem;
        opacity: 0.7;
      }

      .btm {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 0 1rem;

        span {
          align-self: center;
        }

        .users {
          display: flex;
          justify-content: flex-end;

          .img_holder {
            opacity: 1;
            display: flex;
            width: 37px;
            height: 37px;
            border: 1px solid $block_fg;

            img {
              left: -5px;
              width: 3rem;
            }
          }
        }
      }
    }
  }

  .right {
    ul.user_top_right {
      h2 {
        align-self: center;
      }

      i.add.fal.fa-plus {
        position: unset;
      }

      li:nth-last-child(1) {
        display: grid;
        grid-template-columns: 41px repeat(4, 32px);
        direction: rtl;
      }
    }

    .users_status {
      position: relative;
      height: max-content;

      &:hover {
        z-index: 1;

        &,
        * {
          cursor: pointer;
        }
      }

      .fas {
        color: $green;
        font-size: 0.7rem;
        position: absolute;
        right: 9px;
        top: -3px;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #2d3049;
      }

      .img_holder {
        display: flex;
        width: 47px;
        height: 47px;
        border-color: $block_bg;

        img {
          width: 4rem;
          left: -6px;
        }
      }
    }
  }

  .files_task_toggle {
    display: flex;
    margin: 1.5rem 0 1rem 0;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #cccccc54;

    h2 {
      margin-right: 2rem;
      font-weight: bold;
      cursor: pointer;
      width: auto;

      &:hover,
      &.selected {
        color: white;
      }
    }
  }

  .option_container {
    position: absolute;
    opacity: 0;
    width: 96%;
    pointer-events: none;
    transition: opacity 0.4s, transform 0.4s;

    &.files.files_selected,
    &.tasks.tasks_selected {
      opacity: 1;
      pointer-events: all;
      transform: translateX(0);
    }

    &.files {
      transform: translateX(-25%);
      .file_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;

        .file_holder {
          height: 225px;
          overflow: hidden;
          position: relative;
          border-radius: 5px;
          border: 2px solid transparent;
          transition: border 0.4s, background 0.4s;

          ul.img_info_options {
            position: absolute;
            bottom: 0;
            z-index: 1;
            display: flex;
            padding: 1rem;
            justify-content: space-between;
            width: 100%;
            color: white;

            li {
              position: absolute;
              bottom: 1rem;
              opacity: 0;
              transition: left 0.3s 0.2s, opacity 0.3s 0.2s, right 0.3s 0.2s;

              &:nth-child(1) {
                left: -1rem;
              }

              &:nth-child(2) {
                right: -1rem;
              }

              span {
                display: flex;
                align-items: center;

                i.fas.fa-circle {
                  font-size: 0.5rem;
                  margin: 0 0.5rem;
                }
              }

              i.fal.fa-arrow-to-bottom {
                width: 40px;
                height: 40px;
                border-radius: 45px;
                background: $blue;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: background 0.4s, transform 0.4s, box-shadow 0.4s;

                &:hover {
                  transform: scale(1.1);
                  background: darken($blue, 5%);
                  box-shadow: 0 5px 5px 2px #0000008f;
                }
              }
            }
          }

          img {
            cursor: pointer;
            transition: opacity 0.4s;
            width: 24rem;
          }

          &:hover {
            border: 2px solid $blue;
            background: $block_fg;

            .img_info_options li {
              opacity: 1;

              &:nth-child(1) {
                left: 1rem;
              }

              &:nth-child(2) {
                right: 1rem;
              }
            }

            img {
              opacity: 0.5;
            }
          }

          &:nth-last-child(1) {
            grid-column: 1/3;
            position: relative;

            img {
              width: 100%;
              position: absolute;
              top: -121px;
            }
          }
        }
      }
    }

    &.tasks {
      overflow: auto;
      transform: translateX(-25%);
      height: 73%;

      .grid__one_two_col {
        display: grid;
        grid-template-columns: 1fr 2fr;
        position: sticky;
        left: 0;

        .progress_bar {
          background: $block_fg;

          .progress {
            background: #f49c00;
          }
        }
      }

      ul.project_status_toggle {
        display: flex;
        border: 1px solid $blue;
        border-radius: 4px;
        width: max-content;
        position: relative;

        span.bg {
          width: 50%;
          background: $blue;
          position: absolute;
          height: 100%;
          z-index: -1;
          left: 50%;
          border-radius: 2px;
          transition: left 0.4s;

          &.selected {
            left: 0;
          }
        }

        li {
          padding: 0.5rem 1rem;
          color: white;
          cursor: pointer;
        }
      }

      ul.task_card_container {
        display: flex;
        margin-top: 1rem;
        height: 88%;
        width: max-content;

        li.task_card {
          position: relative;
          background: $block_fg;
          padding: 1rem;
          border-radius: 10px;
          margin-right: 1rem;
          display: grid;
          grid-template-rows: 51px max-content 1fr repeat(3, max-content);
          width: 290px;
          grid-gap: 1rem;
          border: 2px solid transparent;

          &:hover {
            border: 2px solid $blue;
          }

          i.fas.fa-ellipsis-v {
            position: absolute;
            right: 1rem;
            top: 1rem;
          }

          h3 {
            font-size: 1rem;
            font-weight: 700;
            line-height: 1.4;
          }

          span i {
            margin-right: 0.7rem;
          }

          p.description {
            margin: 1rem 0;
            line-height: 1.4;
          }

          ul {
            display: flex;
            margin-left: 24px;

            li {
              margin-left: -23px;
            }

            span.img_holder {
              display: flex;
              border-color: $block_fg;
            }
          }

          i.fas.fa-external-link {
            position: absolute;
            right: 1rem;
            bottom: 1rem;
          }
        }
      }
    }
  }
}

departments {
  h3 {
    color: white;
  }

  .departments {
    li {
      display: grid;
      grid-template-columns: 2fr max-content;

      h2 {
        margin: 0;
        align-self: center;
        width: auto;
      }

      .users {
        display: flex;

        h2 {
          padding-left: 5px;
        }

        .img_holder {
          height: 40px;
          width: 40px;
          margin-left: -22px;
          border-color: $block_fg;

          img {
            width: 2.5rem;
            left: -1px;
          }
        }
      }
    }
  }

  .top_header {
    display: flex;
    margin-bottom: 4rem;
    justify-content: flex-end;

    li {
      &.add_user {
        display: flex;
        flex-direction: row;
        align-items: center;

        p {
          margin-left: 1rem;
        }
      }
    }
  }

  .user_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem 1rem;

    li.card {
      border: 2px solid transparent;
      border-radius: 5px;
      position: relative;
      text-align: center;
      display: grid;
      grid-gap: 0.5rem 0;
      grid-template-rows: 1fr 1fr 1fr;
      background: $block_fg;
      padding: 2rem 2rem 4rem 2rem;
      transition: border 0.4s, box-shadow 0.3s 0.1s;

      &:hover {
        &,
        span.img_holder {
          box-shadow: 0px 8px 7px 0px #00000021;
          border-color: $blue;
        }

        * {
          cursor: pointer;
        }

        i.fal.fa-user-minus {
          opacity: 1;
          bottom: -1rem;
        }

        i.fal.fa-comment-alt-lines {
          opacity: 1;
          bottom: -1rem;
        }
      }

      .user_options {
        position: absolute;
        border-radius: 65px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        opacity: 0;
      }

      i.fal.fa-user-minus {
        bottom: 1rem;
        left: -1rem;
        background: $red;
        transition: opacity 0.4s, bottom 0.4s;
      }

      i.fal.fa-comment-alt-lines {
        bottom: 1rem;
        right: -1rem;
        background: $blueTwo;
        transition: opacity 0.4s, bottom 0.4s;
      }

      span.img_holder {
        display: flex;
        transition: border 0.4s, box-shadow 0.3s 0.1s;
        border: 4px solid $block_bg;
        position: absolute;
        left: 35%;
        bottom: -25%;
        width: 5rem;
        height: 5rem;

        img {
          width: 6rem;
        }
      }

      span {
        &.depHead {
          top: -18px;
          left: -10px;
          display: block;
          padding: 0.5rem;
          position: absolute;
          border-radius: 4px;
          background: $purple;
          box-shadow: 4px 4px 7px 0px #00000026;
        }
      }
    }
  }
}

.hide {
  display: none;
}

notifications {
  display: block;
  padding: 1rem;
  height: 100%;

  section {
    height: 100%;
    background: $block_bg;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px #00000030;
    transition: border 0.3s;
    padding: 1rem;
  }

  .notifications_container {
    padding: 1rem;
    position: relative;

    li.date::after {
      content: "";
      background: grey;
      width: 1px;
      height: 100%;
      display: block;
      position: absolute;
      left: 3%;
      z-index: 0;
    }

    li.notification_row {
      display: flex;
      position: relative;
      justify-content: space-between;

      i.fal {
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: center;
        color: white;
        &.fa-paper-plane {
          width: 40px;
          height: 40px;
          background: $blue;
          border-radius: 45px;
        }

        &:nth-last-child(1),
        &:nth-last-child(2) {
          cursor: pointer;
        }
      }

      p {
        display: flex;
        align-self: center;
      }

      .name_status,
      .notification_title {
        display: flex;
        flex-direction: column;
        align-self: center;
      }
    }
  }
}
