@import "reset.scss";

$font: "futura pt";

$sidebar: #222947;
$darkOne: #202237;
$darkTwo: #191f3f;
$purple: #7a4bb7;
$block_bg: #2d3049;
$block_fg: #3e4360;
$blue: #667cff;
$blueTwo: #1fc5ff;
$green: #1dff88;
$red: #ff2261;

app-root {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
  font-family: $font;
}

.chat_widget {
  z-index: 2;
  width: 3rem;
  height: 3rem;
  position: absolute;
  background: #1d203a;
  padding: 1rem;
  border-radius: 6px;
  color: white;
  bottom: 0.5rem;
  right: 0.5rem;
  transition: background 0.4s, height 0.4s, width 0.4s;

  // &:hover,
  // &:active {
  //   background: darken($purple, 20%);
  // }

  i.toggle {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    background: $purple;
    z-index: 2;
    padding: 1rem;
    border-radius: 6px;
  }

  &.expanded {
    width: 21rem;
    height: 80%;
  }

  p {
    font-weight: bold;
  }

  ul {
    margin-top: 1.4rem;
    overflow: scroll;
    height: 90%;
    position: absolute;
    width: 93%;

    li {
      justify-content: space-between;
      margin-bottom: 1rem;
      display: grid;
      grid-template-columns: auto 100px auto;

      span {
        align-self: center;
      }
    }
  }
}

span.img_holder {
  width: 57px;
  height: 57px;
  border-radius: 7rem;
  overflow: hidden;
  position: relative;
  border: 2px solid gray;

  &.online {
    border: 2px solid $green;
  }

  img {
    width: 5rem;
    position: absolute;
    left: -10px;
    top: 0;
  }
}

.sidebar {
  color: #ccc;
  padding: 0.5rem;
  background: $sidebar;

  ul {
    list-style-type: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;

    li {
      border-radius: 5px;
      transition: background 0.4s;
      cursor: pointer;

      &.active,
      &:hover {
        background: $purple;
        color: white;
      }

      &:active {
        background: darken($purple, 20%);
        color: white;
      }

      i {
        pointer-events: none;
        padding: 1rem;
      }

      span.notification {
        cursor: pointer;
        position: absolute;
        background: $red;
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 56px;
        box-shadow: -2px 5px 4px #38000042;
      }
    }
  }
}

.content {
  background: linear-gradient($darkOne, $darkTwo);

  admin {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    grid-gap: 1rem;
    padding: 1rem;

    section {
      background: $block_bg;
      border-radius: 7px;
      box-shadow: 0px 0px 5px 2px #00000030;
      transition: border 0.3s;
      border: 1px solid transparent;
      padding: 1rem;

      &:hover {
        border: 1px solid $blue;
      }

      h1.title {
        color: white;
        font-size: 1.3rem;

        i {
          margin-right: 5px;
        }
      }

      &.three {
        overflow: scroll;
        width: 100%;

        h1 {
          position: absolute;
        }
      }
    }
  }
}

ul.department_blocks {
  display: flex;
  height: 14rem;
  margin-top: 2.6rem;
  width: fit-content;
  overflow: scroll;

  li.department {
    color: #ccc;
    width: 230px;
    padding: 1rem;
    display: block;
    margin-right: 2rem;
    border-radius: 4px;
    background: $block_fg;
    justify-content: space-between;

    span {
      display: flex;
      justify-content: space-between;
      align-self: center;

      &.department_title {
        font-weight: bold;
      }

      &.img_holder {
        margin-right: 1rem;
      }
    }

    ul {
      margin-top: 1rem;
      overflow: scroll;
      height: 180px;

      li.department_user {
        margin-bottom: 1rem;
        display: flex;
      }
    }
  }
}

.notifications {
  margin-top: 1.4rem;
  overflow: scroll;
  height: 37%;
  position: absolute;

  li {
    background: $block_fg;
    color: #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 22px 1fr 81px auto auto;
    grid-gap: 1rem;

    i {
      cursor: pointer;
    }
  }
  .complete {
    color: $green;
  }
  .pending {
    color: $blueTwo;
  }
  .deleted {
    color: $red;
  }
}

section.two {
  display: grid;
  grid-gap: 0 2rem;
  grid-template-columns: 1fr;

  h1 {
    position: absolute;
  }

  .tasks {
    margin-top: 2rem;
    color: #ccc;
    overflow: scroll;
    height: 240px;

    li {
      margin-bottom: 1rem;
    }

    span {
      display: grid;
      align-items: center;
      grid-template-columns: 114px min-content 90px min-content 74px;
      font-size: 13px;
      margin: 0.5rem 0;
      grid-gap: 1rem;
      opacity: 0.8;
    }

    i.fa-circle {
      font-size: 7px;
    }
  }
}

inbox,
settings {
  display: grid;
  color: #ccc;
  padding: 1rem;
  height: 100%;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;

  section {
    background: $block_bg;
    border-radius: 5px;
    padding: 1rem;
    position: relative;

    h1 {
      font-size: 1.4rem;
      font-weight: bold;
      margin-bottom: 2rem;
    }
  }
}

settings {
  section {
    &.left {
      li {
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;

        &.title {
          border-bottom: 1px solid #cccccc78;
          margin: 1.5rem 0;
          padding-bottom: 0.5rem;
          h2 {
            font-weight: bold;
            i {
              margin-right: 0.5rem;
            }
          }
        }
      }

      i.fal.fa-chevron-right {
        font-size: 10px;
        align-self: center;
      }
    }

    &.right {
      ul {
        width: 42%;
        margin: 0 auto;

        span.img_holder {
          display: block;
          margin: 0 auto;
          width: 120px;
          height: 120px;
          background: #d2bc4b;
          margin-bottom: 1.5rem;
          border: 1px solid $blue;
          box-shadow: 0px 9px 6px 0px #00000052;

          span.img_whiteout {
            display: block;
            height: 100%;
            background: white;
            position: absolute;
            width: 100%;
            opacity: 0;
            transition: opacity 0.4s;
          }

          span.new_img {
            position: absolute;
            left: calc(100%);
            top: 31%;
            z-index: 1;
            background: $block_fg;
            padding: 1rem;
            border-radius: 44px;
            transition: left 0.4s ease-in-out;
          }

          img {
            width: 9rem;
            position: absolute;
            left: -12px;
            top: 10px;
          }

          &:hover {
            .img_whiteout {
              opacity: 0.4;
            }
            .new_img {
              cursor: pointer;
              left: calc(100% - 70%);

              i {
                pointer-events: none;
                transition: transform 0.3s;
              }

              &:active i {
                transform: scale(0.9);
              }
            }
          }
        }
      }
    }
  }
}

.input_container {
  position: relative;
  margin-bottom: 2rem;

  span.label {
    background: $block_bg;
    position: absolute;
    top: -0.5rem;
    left: 1rem;
    width: 90px;
    text-align: center;
  }

  input {
    padding: 0.7rem 1rem;
    border-radius: 7px;
    border: 1px solid #ccc;
    background: transparent;
    color: white;
    width: 100%;
    font-family: $font;
    font-size: 1rem;
  }
}

.logout {
  position: absolute;
  bottom: 3rem;
  left: 40%;
  cursor: pointer;
  padding: 1rem;
  border-radius: 45px;
  transition: box-shadow 0.4s;

  &:hover {
    box-shadow: 0px 5px 11px #151a3166;
  }

  &:active {
    box-shadow: 0px 5px 11px #151a3100;
  }
}

inbox {
  .search_messages {
    color: #ccc;
    position: relative;
    padding-bottom: 1rem;
    border-bottom: 1px solid #cccccc54;

    input {
      background: transparent;
      border: none;
      width: 100%;
      color: #ccc;
      padding-left: 2rem;
      font-size: 1rem;
      font-family: $font;

      &::placeholder {
        color: #ccc;
      }
    }

    i {
      top: 5px;
      position: absolute;
    }
  }

  span.img_holder {
    display: block;
    img {
      left: -13px;
      top: -7px;
    }
  }
  .chat {
    margin-top: 1.5rem;
    li {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 0 1rem;
      background: $block_fg;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      box-shadow: 0px 5px 8px #00000024;
      margin-bottom: 1rem;
      cursor: pointer;

      .chat_layout {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        div {
          display: flex;
          justify-content: space-between;
          position: relative;
        }
      }

      .btm span {
        &:nth-child(1) {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 60%;
          height: 1rem;
        }

        &:nth-last-child(1) {
          cursor: pointer;
          position: absolute;
          right: 0;
          bottom: -5px;
          background: $red;
          border-radius: 30px;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          box-shadow: 0px 3px 7px #00000061;
        }
      }
    }
  }

  .top span:nth-last-child(1),
  .btm {
    opacity: 0.8;
    font-size: 0.9rem;
  }

  .right {
    display: grid;
    grid-template-rows: 1fr 57px;

    ul.chat_history {
      height: 80%;
      li {
        margin-bottom: 1rem;
        display: flex;

        &.user {
          flex-direction: row-reverse;

          .img_time {
            display: none;
          }

          span.msg_content {
            margin: 0;
            background: $blue;
          }
        }

        .img_time {
          position: relative;
          span:nth-last-child(1) {
            font-size: 0.8rem;
            position: absolute;
            top: 60px;
            width: 110%;
          }

          span.img_holder {
            width: 53px;
            height: 53px;
            border: none;

            img {
              width: 4rem;
              left: -5px;
              top: 0px;
            }
          }
        }

        span.msg_content {
          color: white;
          display: flex;
          align-self: center;
          margin-left: 1rem;
          padding: 0.7rem 1rem;
          background: $block_fg;
          border-radius: 56px;
        }
      }
    }

    .chat_box {
      position: relative;

      i {
        position: absolute;

        &.fa-link {
          bottom: 1.4rem;
          right: 4.5rem;
        }

        &.fa-paper-plane {
          right: 1rem;
          background: $blue;
          width: 30px;
          height: 30px;
          border-radius: 45px;
          display: flex;
          bottom: 1rem;
          justify-content: center;
          align-items: center;
          box-shadow: 0px 9px 10px 0px #28316369;
        }
      }
      textarea {
        width: 100%;
        height: 100%;
        background: #3e4360;
        border: none;
        border-radius: 7px;
        padding: 1rem;
        color: #ccc;
        font-size: 1rem;
        font-family: $font;
      }
    }
  }
}
