$white: #000;
$gray: #333;
$gradientOne: #e4e8f1;
$gradientTwo: #e4e8f1;
$block_bg: white;
$block_fg: #e4e8f1;
$primary: #5f80f5;
$info: #9698d5;
$info: #4e4cac;
$green: #04bb40;
$yellow: #ea7c00;
$danger: #ff808b;
