$white: #000;
$gray: #333;
$sidebar: #fff;
$gradientOne: #e4e8f1;
$gradientTwo: #e4e8f1;
$block_bg: white;
$block_fg: #e4e8f1;
$blue: #5f80f5;
$blueTwo: #9698d5;
$purple: #4e4cac;
$green: #04bb40;
$yellow: #ea7c00;
$red: #ff808b;
