$font: "futura pt";

$white: #ffffff;
$gray: #cccccc;
$sidebar: #222947;
$gradientOne: #202237;
$gradientTwo: #191f3f;
$purple: #7a4bb7;
$block_bg: #2d3049;
$block_fg: #3e4360;
$blue: #667cff;
$blueTwo: #00aaff;
$green: #04bb40;
$yellow: #ea7c00;
$red: #ff2261;

$circle_radius: 4rem;
$round_radius: 6px;
