$font: "futura pt";

$white: #ffffff;
$gray: #cccccc;
$gradientOne: #101010;
$gradientTwo: #101010;
$info: #00aaff;
$block_bg: #1b1b1b;
$block_fg: #242424;
$primary: #ff3366;
$green: #04bb40;
$yellow: #ea7c00;
$danger: #ff2222;

$circle_radius: 4rem;
$round_radius: 6px;
